{% extends "base.html" %}
<title>{% block title %} login {% endblock %}</title>
{% block body1 %}
	<div class="container">
		<div class="login-page">
			    <div class="dreamcrub">
					{% if error %}
						<div  style=" margin: 10px 0;background: #FAE4E4;border: 1px solid #DD6F6F;-moz-border-radius: 2px; -webkit-border-radius: 2px;padding: 4px; font-size: 13px;">
						<strong>Errror : </strong> {{error}}
						</div>
					{% endif %}  
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Login
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="account_grid">
			   <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
			  	 <h3>NEW CUSTOMERS</h3>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				 <a class="acount-btn" href="register.html">Create an Account</a>
			   </div>
			   <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
			  	<h3>REGISTERED CUSTOMERS</h3>
				<p>If you have an account with us, please log in.</p>
				
				<form action="{% url 'orderapp:logins' %}" method="post">
					{% csrf_token %}
				  <div>
					<span>UserName<label>*</label></span>
					<input type="text" name="username"> 
				  </div>
				  <div>
					<span>Password<label>*</label></span>
					<input type="password", name="password"> 
				  </div>
				  <a class="forgot" href="#">Forgot Your Password?</a>
				  <input type="submit" value="Login">
			    </form>
				
			   </div>	
			   <div class="clearfix"> </div>
			 </div>
		   </div>
</div>


{% endblock body1 %}